// Body
$body-bg: #e6e6e6;
$default-margin: 20px;
$item-width: 400px;
$animate: all .2s cubic-bezier(0,0,.58,1);

// Colors
$color-1: #03a9f4;
$color-2: #29b6f6;
$gray: #5B5B5B;

// header
$header-height: 65px;
$sidenav-width: 250px;