
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

// Variables
@import 'variables';
@import 'materialize';
@import 'write';

/* init */
i{
  color: #000;
}
// label focus color
.input-field input:focus + label,
.input-field textarea:focus + label{
  color: $color-1 !important; 
}
// label underline focus color
.input-field input:focus,
.input-field textarea:focus{
  border-bottom: 1px solid $color-1 !important;
  box-shadow: 0 1px 0 0 $color-2 !important;
}
// btn bgColor
.btn{
  margin: 0 0 0 0;
  background-color: $color-1;
  &:hover{
    background-color: $color-2;
  }
}
.user-img-0{
  width: 50px;
  height: 50px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  background-color: $body-bg;
}
#root{
  display: flex;
}

header{
  position: relative;
  height: $header-height;
  width: $sidenav-width;
  & li{
    margin: 0 0 0 0;
  }
  .sidenav{
    z-index: 2;
    transform: translateX(0%);
    margin-top: $header-height;
    width: $sidenav-width;
    #nav-userinfo{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $default-margin;
      #nav-profile{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        #nav-username{
          width: 100px;
          line-height: 1rem;
          margin-left: $default-margin;
          background-color: $body-bg;
        }
      }
    }
  }
  #gnb{
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 $default-margin;
    #logo{
      display: flex;
      align-items: center;
      i{
        height: inherit;
        margin-right: $default-margin;
        cursor: pointer;
        transition: $animate;
      }
      a{
        font-size: 2rem;
        color: #000;
      }
    }
    #gnb-button-group{
      display: flex;
      align-items: center;
    }
  }
}

.content{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: $header-height+$default-margin;
  .item-list{
    flex: 1;
    margin: 0 $default-margin;
    column-width: $item-width;
    column-gap: $default-margin*.7;
    text-align: center;
    article{
      display: inline-block;
      position: relative;
      width: inherit;
      margin-bottom: 12px;
      text-align: start;
      &>a>img{
        margin: 0 0 0 0;
        display: block;
        width: 100%;
        z-index: 0;
      }
      .article-info{
        position: absolute;
        padding: 20px;
        background:linear-gradient(rgba(36,38,38,0) 0,rgba(36,38,38,.75) 100%);
        z-index: 6;
        width: 100%;
        height: 100px;
        bottom: 0;
        opacity: 0;
        transition: $animate;
        display: flex;
        justify-content: left;
      }
      &:hover{
        .article-info{
          opacity: 1;
        }
      }
    }
  }
}
.container{
  margin-top: -($header-height+$default-margin);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth {
  width: $item-width*.9;
  text-align: center;
  a.logo {
      text-align: center;
      font-weight: 100;
      font-size: 80px;
      -webkit-user-select: none;
      /* Chrome all / Safari all */
      -moz-user-select: none;
      /* Firefox all */
      -ms-user-select: none;
      /* IE 10+ */
      user-select: none;
      /* Likely future */
      color: $gray;
  }
  .card {
    width: 100%;
    .row {
      margin: $default-margin*1.5;
      .email {
        margin-top: 0px;
      }
      .btn {
        margin-top: $default-margin;
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: $item-width*1.2) {
  .auth .card {
    width: 100%;
  }
  .logo {
    font-size: 60px;
  }
}